nav {
	background-color: #4fd5d6;
}

#fewd {
    color: red ;
}
#newBtn {
	background-color: #4fd5d6;
}
#aboutMe h4 {
	margin-top: 105px;
}
.threeCentered {
	background-color: red;
}
#iconSection {
	background-color: #4fd5d6;
}